@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-iranyekan: var(--font-iranyekan);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

* {
  font-family: 'iranyekan' !important;
}

.ag-root {
  border-radius: 0;
}

:root {
  --font-iranyekan: iranyekan;
  --background: oklch(1 0.012 258);
  --foreground: oklch(0.16546762589928057 0.13333333333333336 258);
  --card: oklch(0.9979130530619568 0.001016042810573495 247.19);
  --card-foreground: oklch(0.497444329559498 0.07852666421003729 247.19);
  --popover: oklch(1 0.003 247.2);
  --popover-foreground: oklch(0.1726618705035971 0.12173913043478263 247.2);
  --muted: oklch(1 0.006 16.8);
  --muted-foreground: oklch(0.609 0.046 242.2 / 0.779);
  --primary: oklch(0.16546762589928057 0.13333333333333336 258);
  --primary-foreground: oklch(0.999999993473546 0 none);
  --secondary: oklch(0.5935251798561151 0.05507246376811592 9.1);
  --secondary-foreground: oklch(0.999999993473546 0 none);
  --accent: oklch(0.16546762589928057 0.13333333333333336 258);
  --accent-foreground: oklch(0.8956834532374099 0.06956521739130435 265.9);
  --destructive: oklch(
    0.6277776971666442 0.08058796508579182 21.41814074619948
  );
  --destructive-foreground: oklch(0.999999993473546 0 none);
  --border: oklch(0.9447590760599487 0.026183672181971585 262.70494790451886);
  --input: oklch(0.718 0.075 261.6 / 0.5429999999999999);
  --ring: oklch(0.16546762589928057 0.13333333333333336 258);
  --sidebar-background: oklch(1 0.003 27.2);
  --sidebar-foreground: oklch(
    0.305942546146341 0.11343889567003929 258.03979658608915
  );
  --sidebar-primary: oklch(0.30742932616637586 0.08116345402680264 247.19);
  --sidebar-primary-foreground: oklch(
    0.7264821602478677 0.13969462575218144 247.19
  );
  --sidebar-accent: oklch(0.16546762589928057 0.13333333333333336 258);
  --sidebar-accent-foreground: oklch(
    0.8884892086330936 0.04347826086956524 255.1
  );
  --sidebar-border: oklch(0.6 0.006 262.7);
  --sidebar-ring: oklch(
    0.9115893545851754 0.04278297688944959 258.94532126217916
  );
  --chart-1: oklch(0.6 0.169 237.323);
  --chart-2: oklch(0.1 0.17 162.48);
  --chart-3: oklch(0.5 0.188 70.08);
  --chart-4: oklch(0.4 0.265 303.9);
  --chart-5: oklch(0.6 0.246 16.439);
  --radius: 0.5rem;
}
.dark {
  --background: oklch(0.168 0 0);
  --foreground: oklch(100% 0 0);
  --card: oklch(0.204 0 0);
  --card-foreground: oklch(90% 0 0);
  --popover: oklch(20% 0 0);
  --popover-foreground: oklch(90% 0 0);
  --primary: oklch(0.414 0.121 273.2);
  --primary-foreground: oklch(96% 0 0);
  --secondary: oklch(0.268 0.003 38.8);
  --secondary-foreground: oklch(96% 0 0);
  --muted: oklch(0.204 0 0);
  --muted-foreground: oklch(70% 0 0);
  --accent: oklch(0.414 0.121 273.2);
  --accent-foreground: oklch(96% 0 0);
  --destructive: oklch(40% 0.2 31);
  --destructive-foreground: oklch(98% 0.2 31);
  --border: oklch(0.24600000000000002 0.023 269.4);
  --input: oklch(40% 0 0);
  --ring: oklch(30% 0 0);
  --chart-1: oklch(0.575 0.194 231.4);
  --chart-2: oklch(0.8633093525179857 0.2289855072463768 165);
  --chart-3: oklch(0.583 0.2492753623188406 7.769784172661871);
  --chart-4: oklch(50% 0.2 255);
  --chart-5: oklch(50% 0.2 300);
  --radius: 0.5rem;
  --sidebar-background: oklch(15% 0 0);
  --sidebar-foreground: oklch(98% 0 0);
  --sidebar-primary: oklch(25% 0 0);
  --sidebar-primary-foreground: oklch(96% 0 0);
  --sidebar-accent: oklch(20% 0 0);
  --sidebar-accent-foreground: oklch(90% 0 0);
  --sidebar-border: oklch(40% 0 0);
  --sidebar-ring: oklch(30% 0 0);
}
@layer base {
  @font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 300;
    src: url('../public/fonts/eot/IRANYekanWebThin.eot');
    src:
      url('../public/fonts/eot/IRANYekanWebThin.eot?#iefix')
        format('embedded-opentype'),
      /* IE6-8 */ url('../public/fonts/woff/IRANYekanWebThin.woff')
        format('woff'),
      /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
        url('../public/fonts/woff2/IRANYekanWebThin.woff2') format('woff2'),
      /* FF39+,Chrome36+, Opera24+*/
        url('../public/fonts/ttf/IRANYekanWebThin.ttf') format('truetype');
  }

  @font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 300;
    src: url('../public/fonts/eot/IRANYekanWebLight.eot');
    src:
      url('../public/fonts/eot/IRANYekanWebLight.eot?#iefix')
        format('embedded-opentype'),
      /* IE6-8 */ url('../public/fonts/woff/IRANYekanWebLight.woff')
        format('woff'),
      /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
        url('../public/fonts/woff2/IRANYekanWebLight.woff2') format('woff2'),
      /* FF39+,Chrome36+, Opera24+*/
        url('../public/fonts/ttf/IRANYekanWebLight.ttf') format('truetype');
  }

  @font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 400;
    src: url('../public/fonts/eot/IRANYekanWebRegular.eot');
    src:
      url('../public/fonts/eot/IRANYekanWebRegular.eot?#iefix')
        format('embedded-opentype'),
      /* IE6-8 */ url('../public/fonts/woff/IRANYekanWebRegular.woff')
        format('woff'),
      /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
        url('../public/fonts/woff2/IRANYekanWebRegular.woff2') format('woff2'),
      /* FF39+,Chrome36+, Opera24+*/
        url('../public/fonts/ttf/IRANYekanWebRegular.ttf') format('truetype');
  }

  @font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 500;
    src: url('../public/fonts/eot/IRANYekanWebMedium.eot');
    src:
      url('../public/fonts/eot/IRANYekanWebMedium.eot?#iefix')
        format('embedded-opentype'),
      /* IE6-8 */ url('../public/fonts/woff/IRANYekanWebMedium.woff')
        format('woff'),
      /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
        url('../public/fonts/woff2/IRANYekanWebMedium.woff2') format('woff2'),
      /* FF39+,Chrome36+, Opera24+*/
        url('../public/fonts/ttf/IRANYekanWebMedium.ttf') format('truetype');
  }

  @font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 700;
    src: url('../public/fonts/eot/IRANYekanWebBold.eot');
    src:
      url('../public/fonts/eot/IRANYekanWebBold.eot?#iefix')
        format('embedded-opentype'),
      /* IE6-8 */ url('../public/fonts/woff/IRANYekanWebBold.woff')
        format('woff'),
      /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
        url('../public/fonts/woff2/IRANYekanWebBold.woff2') format('woff2'),
      /* FF39+,Chrome36+, Opera24+*/
        url('../public/fonts/ttf/IRANYekanWebBold.ttf') format('truetype');
  }

  @font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 800;
    src: url('../public/fonts/eot/IRANYekanWebExtraBold.eot');
    src:
      url('../public/fonts/eot/IRANYekanWebExtraBold.eot?#iefix')
        format('embedded-opentype'),
      /* IE6-8 */ url('../public/fonts/woff/IRANYekanWebExtraBold.woff')
        format('woff'),
      /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
        url('../public/fonts/woff2/IRANYekanWebExtraBold.woff2') format('woff2'),
      /* FF39+,Chrome36+, Opera24+*/
        url('../public/fonts/ttf/IRANYekanWebExtraBold.ttf') format('truetype');
  }

  @font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 900;
    src: url('../public/fonts/eot/IRANYekanWebBlack.eot');
    src:
      url('../public/fonts/eot/IRANYekanWebBlack.eot?#iefix')
        format('embedded-opentype'),
      /* IE6-8 */ url('../public/fonts/woff/IRANYekanWebBlack.woff')
        format('woff'),
      /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
        url('../public/fonts/woff2/IRANYekanWebBlack.woff2') format('woff2'),
      /* FF39+,Chrome36+, Opera24+*/
        url('../public/fonts/ttf/IRANYekanWebBlack.ttf') format('truetype');
  }

  @font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 1000;
    src: url('../public/fonts/eot/IRANYekanWebExtraBlack.eot');
    src:
      url('../public/fonts/eot/IRANYekanWebExtraBlack.eot?#iefix')
        format('embedded-opentype'),
      /* IE6-8 */ url('../public/fonts/woff/IRANYekanWebExtraBlack.woff')
        format('woff'),
      /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
        url('../public/fonts/woff2/IRANYekanWebExtraBlack.woff2')
        format('woff2'),
      /* FF39+,Chrome36+, Opera24+*/
        url('../public/fonts/ttf/IRANYekanWebExtraBlack.ttf') format('truetype');
  }

  * {
    @apply border-border outline-ring/50 font-iranyekan;
  }
  body {
    @apply bg-background text-foreground font-iranyekan;
  }
}
