@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --background: oklch(1 0.012 258);
  --foreground: oklch(0.16546762589928057 0.13333333333333336 258);
  --card: oklch(0.9979130530619568 0.001016042810573495 247.19);
  --card-foreground: oklch(0.497444329559498 0.07852666421003729 247.19);
  --popover: oklch(1 0.003 247.2);
  --popover-foreground: oklch(0.1726618705035971 0.12173913043478263 247.2);
  --muted: oklch(1 0.006 16.8);
  --muted-foreground: oklch(0.609 0.046 242.2 / 0.779);
  --primary: oklch(0.2446043165467626 0.13333333333333336 247.2);
  --primary-foreground: oklch(0.999999993473546 0 none);
  --secondary: oklch(0.5935251798561151 0.05507246376811592 9.1);
  --secondary-foreground: oklch(0.999999993473546 0 none);
  --accent: oklch(0.26618705035971224 0.1391304347826087 253.8);
  --accent-foreground: oklch(0.8956834532374099 0.06956521739130435 265.9);
  --destructive: oklch(
    0.6277776971666442 0.08058796508579182 21.41814074619948
  );
  --destructive-foreground: oklch(0.999999993473546 0 none);
  --border: oklch(0.9447590760599487 0.026183672181971585 262.70494790451886);
  --input: oklch(0.718 0.075 261.6 / 0.5429999999999999);
  --ring: oklch(0.674 0.12173913043478263 32.37410071942446);
  --sidebar-background: oklch(1 0.003 27.2);
  --sidebar-foreground: oklch(
    0.305942546146341 0.11343889567003929 258.03979658608915
  );
  --sidebar-primary: oklch(0.30742932616637586 0.08116345402680264 247.19);
  --sidebar-primary-foreground: oklch(
    0.7264821602478677 0.13969462575218144 247.19
  );
  --sidebar-accent: oklch(0.1726618705035971 0.2579710144927536 265.9);
  --sidebar-accent-foreground: oklch(
    0.8884892086330936 0.04347826086956524 255.1
  );
  --sidebar-border: oklch(0.6 0.006 262.7);
  --sidebar-ring: oklch(
    0.9115893545851754 0.04278297688944959 258.94532126217916
  );
  --chart-1: oklch(0.4 0.169 237.323);
  --chart-2: oklch(0.4 0.17 162.48);
  --chart-3: oklch(0.4 0.188 70.08);
  --chart-4: oklch(0.4 0.265 303.9);
  --chart-5: oklch(0.4 0.246 16.439);
  --radius: 0.5rem;
}
.dark {
  --background: oklch(0.1906474820143885 0.008695652173913038 258);
  --foreground: oklch(1 0 344.6);
  --card: oklch(0.05 0.017 277.7);
  --card-foreground: oklch(0.8705035971223022 0.026086956521739115 247.2);
  --popover: oklch(0.053956834532374105 0.060869565217391314 247.2);
  --popover-foreground: oklch(0.679200632004014 0.179071038277276 247.19);
  --muted: oklch(0.3345323741007194 0.008695652173913038 258);
  --muted-foreground: oklch(
    0.5480871793855719 0.05720219879664863 258.03979658608915
  );
  --primary: oklch(0.7744640434989933 0.12146588373276326 247.19);
  --primary-foreground: oklch(0.3002962456894589 0.079296606963279 247.19);
  --secondary: oklch(0.49671321685783637 0.12105412371813859 269.6756790544456);
  --secondary-foreground: oklch(
    0.9586815770761143 0.01941565730111644 269.6756790544456
  );
  --accent: oklch(0.2982779260784744 0.16377837008800117 265.94101588201863);
  --accent-foreground: oklch(
    0.9097128891981108 0.04326546740039071 265.94101588201863
  );
  --destructive: oklch(0.559597432583016 0.22520345383551568 21.41814074619948);
  --destructive-foreground: oklch(0.999999993473546 0 none);
  --border: oklch(0.8820261514008363 0.05734501611159637 262.70494790451886);
  --input: oklch(0.9511843088255421 0.013258765100272997 262.43961107694577);
  --ring: oklch(0.7351262034279025 0.1374177563777941 258.94532126217916);
  --sidebar-background: oklch(
    0.2795739785059309 0.05783402269899356 258.03979658608915
  );
  --sidebar-foreground: oklch(
    0.8236244265986019 0.08862161530561675 258.03979658608915
  );
  --sidebar-primary: oklch(0.6179494798419227 0.163192904494596 247.19);
  --sidebar-primary-foreground: oklch(
    0.0013504801040489234 0.00032694858647770665 247.19
  );
  --sidebar-accent: oklch(
    0.11834480280575277 0.08048984383999905 265.94101588201863
  );
  --sidebar-accent-foreground: oklch(
    0.8829271059400268 0.05669145388975087 265.94101588201863
  );
  --sidebar-border: oklch(
    0.7408759710669854 0.1331458821519323 262.70494790451886
  );
  --sidebar-ring: oklch(
    0.23157130364136713 0.07388078945625223 258.94532126217916
  );
  --chart-1: oklch(0.984540518039885 0.007534665001362228 250.33159265358978);
  --chart-2: oklch(0.2874144553196394 0.1793034280271686 275.91174703194537);
  --chart-3: oklch(0.7151435988693156 0.11820004119786232 255.18569461983947);
  --chart-4: oklch(0.977975085996619 0.010437074426154776 256.6147779607694);
  --chart-5: oklch(0.8350306182244454 0.0842353900241331 252.56766063108958);
  --radius: 0.5rem;
}
@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
